@model IEnumerable<GREENWICH.Models.COMMENT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CONTENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIVACY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDEA.AUTHOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USER.USERNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CONTENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRIVACY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDEA.AUTHOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER.USERNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COMMENTID }) |
            @Html.ActionLink("Details", "Details", new { id=item.COMMENTID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COMMENTID })
        </td>
    </tr>
}

</table>
