@model GREENWICH.Models.IDEACATEGORY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IDEACATEGORY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDEA.AUTHOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDEA.AUTHOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDEATAG.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDEATAG.TITLE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDEACATEGORYID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
