@model GREENWICH.Models.IDEATAG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IDEATAG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLUG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLUG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDEATAGID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
